[submodule "third_party/bitset"]
	path = third_party/bitset
	url = https://github.com/abenhlal/bitset.git
[submodule "third_party/hash"]
	path = third_party/hash
	url = https://github.com/abenhlal/hash.git
